/* Debug */
.debug {
	* {
		border: 1px dashed;
	}

	section {
		background-color: aqua;
		min-height: 800px;
	}
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Custom properties */
:root {
	--db-brand-color: #0061fe;
	--db-bg-primary: #ffffff;
	--db-bg-secondary: #b4d0e6;
	--db-color-black: #000000;
	--db-color-white: #ffffff;
}

/* Common */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	min-width: 600px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: var(--db-color-black);
}

/* Utils */
.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

.container-sm {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
}

.d-flex-r {
	display: flex;
}

.d-flex-c {
	display: flex;
	flex-direction: column;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.btn {
	background-color: var(--db-brand-color);
	color: var(--db-color-white);
	padding: 0.4rem 0.8rem;
}

/* Header */
#app-header {
	width: 100%;
	background-color: var(--db-bg-primary);
	padding: 1rem;
	font-size: 0.9rem;

	ul {
		list-style-type: none;
		gap: 1rem;
	}

	.nav-left {
		align-items: center;
	}

	.nav-right {
		justify-content: flex-end;

		li.btn > a {
			background-color: var(--db-brand-color);
			color: var(--db-color-white);
		}
	}

	.logo {
		width: max(120px, 1%);
	}

	img {
		vertical-align: middle;
	}
}

/* Jumbotron */
.jumbotron {
    background-color: var(--db-bg-secondary);
}